.list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  -webkit-transition: -webkit-transform 0.2s ease-in;
  transition: -webkit-transform 0.2s ease-in;
  transition: transform 0.2s ease-in;
  transition: transform 0.2s ease-in, -webkit-transform 0.2s ease-in;
  -webkit-animation: fadein 1s;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: fadein 1s, move 0.5s;
}

.list-item:hover {
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.17, 0.62, 0.08, 0.9);
  transition: -webkit-transform 0.5s cubic-bezier(0.17, 0.62, 0.08, 0.9);
  transition: transform 0.5s cubic-bezier(0.17, 0.62, 0.08, 0.9);
  transition: transform 0.5s cubic-bezier(0.17, 0.62, 0.08, 0.9), -webkit-transform 0.5s cubic-bezier(0.17, 0.62, 0.08, 0.9);
}

.list-item:hover .listItem-name {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.17, 0.62, 0.08, 0.9);
  transition: -webkit-transform 1s cubic-bezier(0.17, 0.62, 0.08, 0.9);
  transition: transform 1s cubic-bezier(0.17, 0.62, 0.08, 0.9);
  transition: transform 1s cubic-bezier(0.17, 0.62, 0.08, 0.9), -webkit-transform 1s cubic-bezier(0.17, 0.62, 0.08, 0.9);
}

.list-item:hover .name-container {
  background-color: #940a0a;
}

@-webkit-keyframes move {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes move {
  from {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */

/* Opera < 12.1 */

.name-container {
  background-color: #b80808;
  height: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 210px;
  margin-top: -65px;
  padding-top: 10px;
  z-index: -1;
  border-radius: 10px;
  border: 3px solid #383737;
}

.listItem-sprite {
  max-width: 100px;
  height: auto;
}

.listItem-name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 1.3em;
  margin-top: 50px;
  text-align: center;
}

.rounded-container {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  z-index: 1;
  background-color: #3b474d;
  border: 3px solid black;
}
/*# sourceMappingURL=bkp.css.map */