.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
  transition: transform 0.2s ease-in;

  padding: 20px;

  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 1s; /* Firefox < 16 */
  -ms-animation: fadein 1s; /* Internet Explorer */
  -o-animation: fadein 1s; /* Opera < 12.1 */
  animation: fadein 1s, move 0.5s;

  &:hover {
    cursor: pointer;
    transform: translateY(-10px);
    transition: transform 0.5s cubic-bezier(0.17, 0.62, 0.08, 0.9);
    & .listItem-name {
      transform: scale(1.1);
      transition: transform 1s cubic-bezier(0.17, 0.62, 0.08, 0.9);
    }
    & .name-container {
      background-color: rgb(218, 216, 216);
    }
  }
}

@keyframes move {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.name-container {
  background-color: rgb(255, 255, 255);
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 210px;
  margin-top: -65px;
  padding-top: 10px;
  z-index: -1;
  -webkit-box-shadow: 6px 8px 22px 2px rgba(0, 0, 0, 0.42);
  -moz-box-shadow: 6px 8px 22px 2px rgba(0, 0, 0, 0.42);
  box-shadow: 6px 8px 22px 2px rgba(0, 0, 0, 0.42);
}

.listItem-sprite {
  max-width: 100px;
  height: auto;
}

.listItem-name {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 1.25em;
  margin-top: 50px;
  text-align: center;

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
}

.rounded-container {
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  width: 130px;
  height: 130px;
  border-radius: 100%;
  z-index: 1;
  background-color: rgb(218, 228, 227);
}

@media (max-width: 850px) {
  .name-container {
    width: 170px;
    height: 200px;
  }

  .listItem-name {
    font-size: 1.13em;
  }

  .rounded-container {
    width: 125px;
    height: 125px;
    transform: translateY(-3px);
  }
}

@media (max-width: 550px) {
  .listItem-name {
    font-size: 1em;
  }
}
